.popup__error-message {
  position: absolute;
  top: 45px;
  font-family: inter;
  font-style: regular;
  font-size: 12px;
  line-height: 15px;
  line-height: 100%;
  text-align: left;
  vertical-align: top;
  color: #ff0000;
}
