.profile__edit-btn {
  all: unset;
  margin-left: 10px;
  display: flex;
  align-self: center;
  width: 18px;
  height: 18px;
  background-image: url(../../../images/profile/pen.svg);
  background-size: 7.5px 7.5px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  transition: opacity .2s linear;
}

.profile__edit-btn:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .profile__edit-btn {
    margin: 7px 0 0 17px;
    width: 24px;
    height: 24px;
    background-size: 10px 10px;
  }
}
