.profile__edit-button {
  margin-left: 10px;
  display: flex;
  align-self: center;
  width: 18px;
  height: 18px;
  background-color: #000000; /* черный фон */
  background-image: url(../../../images/pen.svg); /* фоновый рисунок */
  background-size: 7.5px 7.5px; /* чтобы изображение занимало необходимую величену */
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF; /* делаем границу кнопки */
  transition: opacity .2s linear;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile__edit-button {}
}

@media screen and (min-width: 1024px) {
  .profile__edit-button {
    margin-left: 22px;
    width: 24px;
    height: 24px;
    background-size: 10px 10px
  }

  /* @media screen and (min-width: 1280px) {
    .profile__edit-button {
      margin-left: 22px;
      width: 24px;
      height: 24px;
      background-size: 10px 10px
    } */
