.page {
  margin: 0 auto;
  color: #fff;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  .page {
    max-width: 880px;
  }
}

@media screen and (min-width: 1024px) {
  .page {}

  @media screen and (min-width: 1280px) {
    .page {
    }
