.popup__input-container {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 54px 0 0 0;
  gap: 6px;
}

@media screen and (min-width: 1024px) {
  .popup__input-container {
    padding: 25px 0 0 0;
  }
}
