.profile {
  box-sizing: border-box;
  padding: 42px 0 0 0;
  width: calc(100% - (19px * 2));
  margin: auto;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
