.profile {
  box-sizing: border-box;
  padding: 42px 0 0 0;
  width: calc(100% - (19px * 2));
  margin: auto;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .profile {
    margin: 0;
    flex-direction: row;
    width: 880px;
    justify-content: unset;
    align-items: start;
  }
}
