.profile__data {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 14) + 14px);
  line-height: calc((100vw - 320px) / (1280 - 320) * (22 - 17) + 17px);
  text-align: center;
  text-overflow: ellipsis;
  grid-column: -3 / -1;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
  box-sizing: border-box;
}
