.header {
  margin: 0;
  display: flex;
  justify-content: start;
  min-width: 288px;
  border-bottom: solid 1px #545454; /* задаем цвет полупрозрачного бордера для header */
  padding: 28px 0 0 0;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
  }
}

  @media screen and (min-width: 1280px) {
    .header {
      padding: 45px 0 0 0;
    }
