.header {
  display: flex;
  justify-content: start;
  min-width: 288px;
  border-bottom: solid 1px #545454;
}

@media screen and (min-width: 768px) {
  .header {

  }
}

@media screen and (min-width: 1024px) {
  .header {

}
