.profile__add-button {
  all: unset;
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
  width: 279px;
  height: 47px;
  background-image: url(../../../images/profile__plus.svg);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  transition: opacity .2s linear;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile__add-button {}
}

@media screen and (min-width: 1024px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
    margin-left: 244px;
    background-size: 22px 22px;
  }

  /* @media screen and (min-width: 1280px) {
    .profile__add-button {
      width: 150px;
      height: 50px;
      margin-left: 244px;
    } */
