.profile__name {
  margin: 0;
  max-width: 75%;
  font-weight: 500;
  font-size: calc((100vw - 320px) / (1280 - 320) * (42 - 27) + 27px);
  line-height: calc((100vw - 320px) / (1280 - 320) * (48 - 33) + 27px);
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  margin: 4px 1px 7px 27px;
}
