.popup__form {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 65px 0 0 0;
  gap: 6px;
  gap: 17px;
}

@media screen and (min-width: 1024px) {
  .popup__form {
    padding: 36px 0 0 0;
  }
}
