.profile__avatar {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 43%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .profile__avatar {
    max-width: 120px;
  }
}
