.profile__info {
  margin: 0;
  padding: 25px 0 31px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 282px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .profile__info {
    padding: 0;
    margin: 20px 0 0 31px;
    row-gap: 10px;
    justify-items: center;
    justify-content: unset;
    align-items: start;
    width: 347px;
  }
}
