.card__list {
  position: relative;
  list-style: none;
  width: 282px;
  min-height: 361px;
  border-radius: 3.5%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .card__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
