.footer {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  padding: 46px 19px 36px 19px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-between;
  gap: 48px;
  color: #545454;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 46px 19px 36px 52px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 67px 0 60px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer {

  }
}
