  .popup__place-close-btn {
    top: -36px;
    right: 0;
    transition: all .3s ease-in-out;
  }


  @media screen and (min-width: 768px) {
    .popup__place-close-btn {
      right: -41px;
    }
  }

  @media screen and (min-width: 1024px) {
    .popup__place-close-btn {
      right: -41px;
    }
  }
