.element {
  margin: 0;
  padding: 0;
  color: #000;
  display: grid;
  justify-content: center;
  row-gap: 20px;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .element {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

 @media screen and (min-width: 1024px) {
  .element {
    grid-template-columns: repeat(3, 1fr);
    column-gap: .6em;
  }
}
