.header {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  min-width: 288px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding: 28px 0 0 0;
  transition: all .3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
    padding: 45px 0 0 0;
  }
}
