.popup__text {
  all: unset;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  height: 39px;
  border-bottom: 1px solid #000;
}

/* .popup__text:focus {
  border: 1px solid #2e88e7;
  border-radius: 5px;
  width: 240px;
  height: 25px;
} */
